body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(../img/imagen_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.registro {
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 5px 20px 5px;
}

.registro input {
    border: none;
    height: 48px;
    outline: none;
}

.registro input[type="text"] {
    background-color: #fff;
    border-top: 2px solid #ad7726;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    padding-left: 36px;
    width: 204px;
}

.registro input[type="password"] {
    background-color: #fff;
    border-top: 2px solid #ffffff;
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 2px solid #2c90c6;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    color: #363636;
    margin-bottom: 20px;
    padding-left: 36px;
    width: 204px;
}

.registro input[type="submit"] {
    background-color: #c67e2c;
    border: 1px solid #c67e2c;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
}

.registro input[type="submit"]:hover {
    background-color: #c67e2c;
    box-shadow: 2px 2px 20px #816004, #fff 0 -1px 2px;
}

p:hover {
    text-shadow: 2px 2px 20px #c67e2c, #fff 0 -1px 2px;
}

p {
    color: #fff;
    font-size: 15px;
}

form input[type="text"] {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
}