body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* NAV */

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: auto 0;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav a:hover {
    color: black;
    background-color: white;
}

.nav h1 {
    margin: auto 0;
}

.logo {
    width: 175px;
    height: auto;
}


/* SUB NAV */

.subnav {
    background-color: rgb(77, 77, 77, 0.6);
}

.subnav ul {
    margin: 0;
    padding: 15px;
    display: flex;
    list-style-type: none;
}

.subnav li {
    margin: auto;
}

.subnav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.subnav a:hover {
    background-color: rgba(0, 0, 0, 0.295);
}

.filtro {
    margin: 0;
}


/* TABLE */

.table {
    border-spacing: 10px!important;
}

#table img {
    width: 35%;
    height: auto;
}

#table td {
    position: relative;
    color: white;
    width: min-content!important;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.527);
}

#table td:hover {
    box-shadow: 10px 40px 60px 0 rgba(255, 255, 255, 0.548);
    z-index: 100;
}

#table p {
    margin: 0;
    padding: 5px;
}

.info {
    border: 1px solid black;
    position: absolute;
    width: 96.5%;
    top: 20%;
    padding: 5px;
    display: none;
    background-color: rgba(214, 214, 214, 0.8);
    color: black;
}

.pHistorico {
    margin-left: 1px!important;
    margin-top: 10px!important;
    width: min-content;
}

.pHistorico img {
    width: 35px!important;
    height: auto!important;
}


/* BOTON ATRAS */

.atras {
    margin-top: 20px;
    margin-left: 55px;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.atras:hover {
    background-color: white;
    color: black;
}


/* TABLA DATOS HISTORICO */

#tableHistorical {
    margin: 55px auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 15px;
    padding-bottom: 25px;
}

#tableHistorical td {
    margin: 55px auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
}


/* FORMULARIO EDITAR MESA */

.editar {
    width: 300px;
    padding: 183px;
    border-radius: 10px;
    margin: auto;
    background-color: transparent;
}

.reservaForm {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 15px;
    padding: 25px;
}

.reservaForm input[type="text"],
.reservaForm input[type="date"] {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}

.reservaForm input[type="submit"] {
    width: 80%;
    margin: 0;
    margin-top: 15px;
}

.edit {
    background-color: #c67e2c;
    border: 1px solid #c67e2c;
    border-radius: 20px;
    margin: 15px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

label {
    color: white;
    font-size: 19px;
}

select {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
    width: 186px;
    margin-bottom: 15px;
}


/* MENSAJE CUANDO QUIERES PONER EN LIBRE Y NO ERES DE MANTENIMIENTO */

.msgMantenimiento {
    text-align: center;
    font-size: 55px;
    color: white;
}

.btnVolver {
    color: white;
    text-decoration: none!important;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.btnVolver:hover {
    background-color: white;
    color: black;
}

.btnVolverDiv {
    text-align: center;
}