@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}


/* NAV */

.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: auto 0;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav a:hover {
    color: black;
    background-color: white;
}

.nav h1 {
    margin: auto 0;
}

.logo {
    width: 175px;
    height: auto;
}


/* SUB NAV */

.subnav {
    background-color: rgb(77, 77, 77, 0.6);
}

.subnav ul {
    margin: 0;
    padding: 15px;
    display: flex;
    list-style-type: none;
}

.subnav li {
    margin: auto;
}

.subnav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.subnav a:hover {
    background-color: rgba(0, 0, 0, 0.295);
}

.subnav input[type="date"],
.subnav select {
    padding: 10px;
    border-radius: 10px;
}

.subnav input[type="submit"] {
    padding: 10px 15px;
    border-radius: 10px;
}

.subnav label {
    padding-right: 15px;
    font-size: 19px;
    color: white;
}


/* TABLE */

.table {
    border-spacing: 10px!important;
}

#table img {
    width: 35%;
    height: auto;
}

#table td {
    position: relative;
    color: white;
    width: min-content!important;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.527);
}

#table td:hover {
    box-shadow: 5px 10px 30px 0 rgba(255, 255, 255, 0.6);
    z-index: 100;
}

#table p {
    margin: 0;
    padding: 5px;
}

.info {
    display: none;
    position: absolute;
    top: 11%;
    left: 7%;
    border: 2px solid white;
    border-radius: 10px;
    border-top-left-radius: 0;
    width: fit-content;
    padding: 5px;
    background-color: rgba(214, 214, 214, 0.8);
    color: black;
}

.botones {
    width: fit-content;
}

.bWhite:link,
.bWhite:visited {
    color: white;
}


/* BOTON ATRAS */

.atras {
    margin-top: 20px;
    margin-left: 55px;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.atras:hover {
    background-color: white;
    color: black;
}


/* ZONA ADMIN TABLA */

#tablaCamareros {
    width: 65%;
    height: auto;
    margin: 5% auto;
    background-color: rgba(184, 184, 184, 0.609);
    font-size: 35px;
}

#tablaCamareros th,
#tablaCamareros td {
    padding: 15px;
}

.w:link,
.e:link,
.m:link {
    color: black;
}

.w:visited,
.e:visited,
.m:visited {
    color: black;
}


/* PAGINA DE ERROR */

.error {
    font-size: 35px;
    width: fit-content;
    margin: 5% auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid white;
    color: white;
}